<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Internetverbinding status">
    <app-navigator-online></app-navigator-online>
    <app-navigator-connection></app-navigator-connection>
    <app-ng-connection-service></app-ng-connection-service>    
  </mat-tab>
  <mat-tab label="Veranderingen in status">
    <app-change-event></app-change-event>
    <app-offline-online-event></app-offline-online-event>    
  </mat-tab>
  <mat-tab label="Internetsnelheid">
    <app-ng-speed-test></app-ng-speed-test>
    <app-ngx-network></app-ngx-network>    
  </mat-tab>
  <mat-tab label="Datasynchronisatie">
    <app-service-workers></app-service-workers>
    <app-localstorage></app-localstorage>
    <app-indexeddb></app-indexeddb>
    <app-cache-api></app-cache-api>
    <app-ngx-image-compress></app-ngx-image-compress>
  </mat-tab>
</mat-tab-group>